<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="UrlStore" connectionString="Server=.\sqlexpress;database=UrlStore;integrated security=true"/>
  </connectionStrings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
